@font-face {
	font-family: 'Brush';
	src: url('../fonts/UkrainianBrushScript/UkrainianBrushScript.eot');
	src: url('../fonts/UkrainianBrushScript/UkrainianBrushScript.woff') format('woff'), url('../fonts/UkrainianBrushScript/UkrainianBrushScript.ttf') format('truetype'), url('../fonts/UkrainianBrushScript/UkrainianBrushScript.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
